@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.fundo{
    background-image: url(../img/bg.jpeg);
    background-position: center;
    height: 100vh;
    color: rgba(0, 0, 0, 0.616);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.calculadora{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    color: white;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 3px;
}

.botao:hover{
    background-color: black;
}

#resultado{
    background-color: white;
    height: 2rem;
    width: 13.9rem;
    margin: 0.5rem 0.35rem;
    font-size: 25px;
    color: black;
    text-align: right;
}